<!--
HOME.HTML TEMPLATE: OUR .HTML TEMPLATE FOR THE HOME PAGE.
WITH THE WAY WE HAVE STRUCTURED OUR DJANGO CODE, THIS WILL 'EXTEND' THE BASE.HTML TEMPLATE. WHICH, WILL MINIMIZE
THE AMOUNT OF CODE WE'RE LIKELY TO SEE IN THIS PAGE. -->

<!-- PURPOSE: EXTEND THE BASE.HTML PAGE HTML CONTENT TO OUR 'HOMEPAGE' WITHIN OUR WEBSITE -->
<!-- VERSION: 1.0; DATE - 9.30.21 -->

{% extends 'main/base.html' %}

<!-- OVERRIDING TITLE BLOCK WITH 'HOME' WORD -->
{% block title %}
About the FH Project
{% endblock %}

<!-- OVERRIDING CONTENT BLOCK WITH 'HOME PAGE' HEADER -->
{% block content %}
<h1>About the Project</h1>
{% endblock %}