<!-- LIST.HTML: THE PAGE THAT PROVIDES THE HTML LOGIC REQUIRED FOR USERS TO ADD/ITEMS INTO A FORM -->
<!-- PURPOSE: CREATE A FORM THAT NOT ONLY ALLOWS USER TO INPUT ITEMS, BUT ALSO DISPLAYS ITEMS THEY INPUT ... -->
<!-- VERSION: 3.0 -->

<!-- VERSION PURPOSE: MODIFY THE LIST.HTML FILE WITH THE UI IMPROVEMENTS OFFERED THROUGH BOOTSTRAP -->
<!-- DATE: 10.1.21 -->
{% extends "main/base.html" %}

{% block title%}View List{% endblock %}
{% block content %}
    <h1>{{ls.name}}</h1>

    <!-- CREATING THE FORM FOR USER INPUT && INCLUDING THE 'P0ST' METHOD,
         WHICH ENSURES IT CAN BE POSTED BACK TO OUR VIEW.HTML FILE FOR USER TO SEE -->
    <form method = "post" action = "#">
        {% csrf_token %}
        <!-- FOR EACH ITEM IN OUR SET LIST.... -->
        {% for item in ls.item_set.all %}
        <!-- BOOTSTRAP ADDITION 1 - INPUT GROUP -->
        <div class = "input-group mb-3">
        <!-- BOOTSTRAP ADDITION 2 - PRE-PEND GROUP -->
            <div class = "input-group-prepend">
                <!-- BOOTSTRAP ADDITION 3 - INPUT-GROUP-TEXT -->
                <div class = "input-group-text">
                <!-- ... IF ITEM IS COMPLETE PRINT FOLLOWING MESSAGE ... -->
                {% if item.complete == True %}
                <!-- 'CHECKBOX' AS USER INPUT TYPE && MARKING THE VALUE OF THE ITEM AS 'CLICKED' -->
                    <input type = "checkbox", value = "clicked", name = "c{{item.id}}" checked>
                <!-- ... ELSE IF ITEM IS NOT COMPLETE -->
                {% else %}
                <!-- CHECKBOX AS USER INPUT TYPE && MARKING THE CLICKED VALUE ITEM AS 'CLICKED' -->
                    <input type = "checkbox", value = "clicked", name = "c{{item.id}}">
                {% endif %}
                </div>
            </div>
            <input type = "text", value = "{{item.text}}" class = "form-control">
        </div>
        {% endfor %}

<!-- STEP 2 - MODIFYING THE BUTTONS USED TO SAVE/CREATE USER INPUT INTO OUR FORMS VIA BOOTSTRAP & DJANGO! -->
        <div class="input-group mb-3">
            <div class = "input-group-prepend">
                <button type = "submit", name = "newItem", value = "newItem", class = "btn btn-success">Add Item</button>
            </div>
            <input type = "text", name = "new">
        </div>

        <button type = "submit", name = "save", value = "save", class = "btn btn-success">Save</button>
    </form>

{% endblock %}