{%extends "layout.html"%}          <!-- Extends to the 'url_for' function in the layout.html file'-->
{%block content%}                  <!-- Refers to the Block content variable in the layout.html file'-->
<div class = "about">              <!-- How our other 'layout.html' file refers to this file. By referring to the 'class' about' -->
  <h1>My About Page</h1>                                <!--Header tag! -->
  <p> This is a Test Website for the 'about' page.</p>  <!--Paragraph Tag! -->
</div>
{%endblock%}