.button{ background-color: #4CAF50 }
.button:active{ transform: translateY( 2px ) }
h4, h3{
	margin: 0;
	padding: 0;
}
table {
	font-family: arial, sans-serif;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
}

tr {
	text-align: center;
	width: 100%;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

table tr:first-child {
	font-weight: bold;
}