<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tabulator Test</title>
    <link href="https://unpkg.com/tabulator-tables@5.0.10/dist/css/tabulator.min.css" rel="stylesheet">
    <link href="dist/css/tabulator.css" rel="stylesheet">
</head>
<body>
    <div>
        <h1 class = "h2">FH Calculator</h1>
        <p>Tabulator JS-Library Draft </p>
    </div>
    <br>
    <form id = "table_data" method = "POST">
        {# Table HTML Contents #}
        <div id = "example-table" class = "tabulator" role = "grid" tabulator-layout = "fitColumns" style = "height: auto;">
        <div class = "tabulator-header" role = "rowgroup" style = "padding-right: 0px;">

            {# Table Headers: Holds all Column headers inside table header #}
            <div class = "tabulator-headers" role = "row" style = "margin-left: 0px;">
                {# Person Pedigree Column Header #}
                <div class = "tabulator-col tabulator-sortable" role = "columnheader" aria-sort = "none" tabulator-field = "person" title style = "min-width: 40px; width: 150px; height: 24px;">
                    <div class = "tabulator-col-content">
                        <div class = "tabulator-col-title-holder">
                            <div class = "tabulator-col-title">Name</div>
                            <div class = "tabulator-col-sorter">
                                <div class = "tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class = "tabulator-col-resize-handle"></div>
                    <div class = "tabulator-col-resize-handle prev"></div>
                </div>
                {# Age Column Header #}
                <div class = "tabulator-col tabulator-sortable" role = "columnheader" aria-sort = "none" tabulator-field = "age" title style = "min-width: 40px; width: 150px; height: 24px;">
                    <div class = "tabulator-col-content">
                        <div class = "tabulator-col-title-holder">
                            <div class = "tabulator-col-title">Age</div>
                            <div class = "tabulator-col-sorter">
                                <div class = "tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class = "tabulator-col-resize-handle"></div>
                    <div class = "tabulator-col-resize-handle prev"></div>
                </div>
                {# Gender Column Header #}
                <div class = "tabulator-col tabulator-sortable" role = "columnheader" aria-sort = "none" tabulator-field = "gender" title style = "min-width: 40px; width: 150px; height: 24px;">
                    <div class = "tabulator-col-content">
                        <div class = "tabulator-col-title-holder">
                            <div class = "tabulator-col-title">Gender</div>
                            <div class = "tabulator-col-sorter">
                                <div class = "tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class = "tabulator-col-resize-handle"></div>
                    <div class = "tabulator-col-resize-handle prev"></div>
                </div>
                {# LDL Cholesterol Column Header #}
                <div class = "tabulator-col tabulator-sortable" role = "columnheader" aria-sort = "none" tabulator-field = "ldlc" title style = "min-width: 40px; width: 150px; height: 24px;">
                    <div class = "tabulator-col-content">
                        <div class = "tabulator-col-title-holder">
                            <div class = "tabulator-col-title">LDL Chol</div>
                            <div class = "tabulator-col-sorter">
                                <div class = "tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class = "tabulator-col-resize-handle"></div>
                    <div class = "tabulator-col-resize-handle prev"></div>
                </div>
                {# TOT Cholesterol Column Header #}
                <div class = "tabulator-col tabulator-sortable" role = "columnheader" aria-sort = "none" tabulator-field = "totc" title style = "min-width: 40px; width: 150px; height: 24px;">
                    <div class = "tabulator-col-content">
                        <div class = "tabulator-col-title-holder">
                            <div class = "tabulator-col-title">TOT Chol</div>
                            <div class = "tabulator-col-sorter">
                                <div class = "tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class = "tabulator-col-resize-handle"></div>
                    <div class = "tabulator-col-resize-handle prev"></div>
                </div>
                {# TX Status Column Header #}
                <div class = "tabulator-col tabulator-sortable" role = "columnheader" aria-sort = "none" tabulator-field = "txstat" title style = "min-width: 40px; width: 150px; height: 24px;">
                    <div class = "tabulator-col-content">
                        <div class = "tabulator-col-title-holder">
                            <div class = "tabulator-col-title">TX Status</div>
                            <div class = "tabulator-col-sorter">
                                <div class = "tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class = "tabulator-col-resize-handle"></div>
                    <div class = "tabulator-col-resize-handle prev"></div>
                </div>
                {# CAD Status Column Header #}
                <div class = "tabulator-col tabulator-sortable" role = "columnheader" aria-sort = "none" tabulator-field = "cadstat" title style = "min-width: 40px; width: 150px; height: 24px;">
                    <div class = "tabulator-col-content">
                        <div class = "tabulator-col-title-holder">
                            <div class = "tabulator-col-title">CAD Status</div>
                            <div class = "tabulator-col-sorter">
                                <div class = "tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class = "tabulator-col-resize-handle"></div>
                    <div class = "tabulator-col-resize-handle prev"></div>
                </div>
                {# CAD Onset Age Column Header #}
                <div class = "tabulator-col tabulator-sortable" role = "columnheader" aria-sort = "none" tabulator-field = "cadage" title style = "min-width: 40px; width: 150px; height: 24px;">
                    <div class = "tabulator-col-content">
                        <div class = "tabulator-col-title-holder">
                            <div class = "tabulator-col-title">CAD Onset Age</div>
                            <div class = "tabulator-col-sorter">
                                <div class = "tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class = "tabulator-col-resize-handle"></div>
                    <div class = "tabulator-col-resize-handle prev"></div>
                </div>
                {# DNA-DX Status Column Header #}
                <div class = "tabulator-col tabulator-sortable" role = "columnheader" aria-sort = "none" tabulator-field = "dnadxstat" title style = "min-width: 40px; width: 150px; height: 24px;">
                    <div class = "tabulator-col-content">
                        <div class = "tabulator-col-title-holder">
                            <div class = "tabulator-col-title">DNA-DX Status</div>
                            <div class = "tabulator-col-sorter">
                                <div class = "tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class = "tabulator-col-resize-handle"></div>
                    <div class = "tabulator-col-resize-handle prev"></div>
                </div>
            </div>
            <div class = "tabulator-frozen-rows-holder"></div>

            {# Table Data/ Rows #}
            <div class = "tabulator-tableholder" tabindex = "0" role = "rowgroup" style = "min-height: calc(100% - 25px); height: calc(100% - 25px); max-height: calc(100% - 25px);">
                <div class = "tabulator-table" role = "rowgroup" style = "padding-top: 0px; padding-bottom: 0px;">

                    {# Row 1: Grandparent #1 #}
                    <div class = "tabulator-row tabulator-selectable tabulator-row-odd" role = "row" style = "padding-left: 0px;">
                        {# Row 1 Column 1: Pedigree Name #}
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "person" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        {# Row 1 Column 2: Age #}
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "age" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        {# Row 1 Column 3: Gender #}
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "gender" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        {# Row 1 Column 4: LDL-Chol #}
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "ldlc" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        {# Row 1 Column 5: TOT-Chol #}
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "totc" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        {# Row 1 Column 6: TX-Status #}
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "txstat" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        {# Row 1 Column 7: CAD-Status #}
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadstat" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        {# Row 1 Column 8: CAD Onset Age #}
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadage" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        {# Row 1 Column 9: DNA-DX Status #}
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "dnadxstat" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                    </div>

                    {# Row 2: Grandparent #2 #}
                    <div class = "tabulator-row tabulator-selectable tabulator-row-even" role = "row" style = "padding-left: 0px;">
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "person" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "age" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "gender" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "ldlc" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "totc" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "txstat" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadstat" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadage" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "dnadxstat" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                    </div>

                    {# Row 3: Parent #1 #}
                    <div class = "tabulator-row tabulator-selectable tabulator-row-odd" role = "row" style = "padding-left: 0px;">
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "person" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "age" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "gender" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "ldlc" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "totc" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "txstat" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadstat" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadage" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "dnadxstat" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                    </div>

                    {# Row 4: Parent #2 #}
                    <div class = "tabulator-row tabulator-selectable tabulator-row-even" role = "row" style = "padding-left: 0px;">
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "person" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "age" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "gender" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "ldlc" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "totc" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "txstat" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadstat" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadage" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "dnadxstat" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                    </div>

                    {# Row 5: Sibling 1 of Parent 1 #}
                    <div class = "tabulator-row tabulator-selectable tabulator-row-odd" role = "row" style = "padding-left: 0px;">
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "person" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "age" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "gender" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "ldlc" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "totc" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "txstat" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadstat" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadage" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "dnadxstat" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                    </div>

                    {# Row 6: Sibling 2 of Parent 1 #}
                    <div class = "tabulator-row tabulator-selectable tabulator-row-even" role = "row" style = "padding-left: 0px;">
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "person" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "age" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "gender" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "ldlc" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "totc" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "txstat" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadstat" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadage" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "dnadxstat" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                    </div>

                    {# Row 7: Child #1 #}
                    <div class = "tabulator-row tabulator-selectable tabulator-row-odd" role = "row" style = "padding-left: 0px;">
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "person" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "age" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "gender" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "ldlc" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "totc" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "txstat" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadstat" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadage" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "dnadxstat" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                    </div>

                    {# Row 8: Child #2 #}
                    <div class = "tabulator-row tabulator-selectable tabulator-row-even" role = "row" style = "padding-left: 0px;">
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "person" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "age" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "gender" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "ldlc" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "totc" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "txstat" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadstat" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadage" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "dnadxstat" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                    </div>

                    {# Row 9: Child #3 #}
                    <div class = "tabulator-row tabulator-selectable tabulator-row-odd" role = "row" style = "padding-left: 0px;">
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "person" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "age" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "gender" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "ldlc" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "totc" title style = "width: 150px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "txstat" aria-label = "12" title style = "width: 583px; text-align: left; min-width: 30px; position: relative; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                            <div style = "position: relative; width: 100%; height: 100%;">
                                <div data-max="100" data-min="0" style = "display: inline-block; position: absolute; width: 12%; background-color: rgb(45, 194, 20); height: 100%;"></div>
                            </div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadstat" title style = "width: 583px; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "cadage" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                        <div class = "tabulator-cell" role = "gridcell" tabulator-field = "dnadxstat" title style = "width:584px; text-align: center; height: 24px;">
                            <div class = "tabulator-col-resize-handle"></div>
                            <div class = "tabulator-col-resize-handle prev"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        <br>

        {# Button Submitting Data #}
        {# TODO() - TRY TO PRINT TABLE-DATA IN CONSOLE, TO SEE IF TABLE DATA CAN BE IDENTIFIED ON A PER-CELL BASIS #}
        {# TODO() - TRY TO ADD BOOTSTRAP-CSS WITHIN THE <HEAD> TAG TO STYLIZE BUTTON #}
        <button id = "button" value = "Generate Results" class = "btn btn-secondary">Generate Results</button>
    </form>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.10/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="dist/js/tabulator.min.js"></script>
    <script type = "text/javascript">

        // Table Data for each respective Person included in Family Pedigree -- Includes default values
        var tableData = [
            {id:1, person:"Grandparent #1", age:"0", gender:"M", ldlc:"0", totc:"0", txstat:"Negative", cadstat:"Negative", cadage:"0", dnadxstat:"Negative"},
            {id:2, person: "Grandparent #2", age:"0", gender:"F", ldlc: "0", totc:"0", txstat:"Negative", cadstat:"Negative", cadage:"0", dnadxstat:"Negative" },
            {id:3, person:"Sibling #1", age: "0", gender:"M", ldlc:"0", totc:"0", txstat:"Negative", cadstat:"Negative", cadage:"0", dnadxstat:"Negative"},
            {id:4, person:"Sibling #2", age:"0", gender:"M", ldlc:"0", totc:"0", txstat:"Negative", cadstat:"Negative", cadage:"0", dnadxstat:"Negative"},
            {id:5, person:"Parent #1", age:"0", gender:"M", ldlc:"0", totc:"0", txstat:"Negative", cadstat:"Negative", cadage:"0", dnadxstat:"Negative"},
            {id:6, person:"Parent #2", age: "0", gender:"F", ldlc:"0", totc:"0", txstat:"Negative", cadstat:"Negative", cadage:"0", dnadxstat:"Negative"},
            {id:7, person:"Child #1", age:"0", gender:"F", ldlc:"0", totc:"0", txstat:"Negative", cadstat:"Negative", cadage:"0", dnadxstat:"Negative"},
            {id:8, person:"Child #2", age:"0", gender:"M", ldlc:"0", totc:"0", txstat:"Negative", cadstat:"Negative", cadage:"0", dnadxstat:"Negative"},
            {id:9, person:"Child #3", age:"0", gender:"F", ldlc:"0", totc:"0", txstat:"Negative", cadstat:"Negative", cadage:"0", dnadxstat:"Negative"},
        ];

        // TODO() - RESEARCH PER CELL CALLBACKS FOR WHEN MOUSE ENTERS AND LEAVES: http://tabulator.info/docs/5.0/callbacks
        var table = new Tabulator("#example-table", {
            height:"100%",  // Configuring Table Height
            data:tableData, // Load initial data into table
            layout:"fitColumns", // Fit columns to width of table (optional)
            columns: [ // Define Table Columns
                {# RESOURCE: http://tabulator.info/examples/5.0#ajax AND http://tabulator.info/docs/5.0/validate #}
                // TODO() - FIGURE OUT HOW TO DISPLAY HELP-TEXT ON TABLE-COLUMNS
                {title:"Person", field:"person", sorter: "string", hozAlign: "left"},
                {title:"Age", field:"age", editor:"input", sorter:"number", hozAlign:"center", validator:["min:0", "max:115", "numeric"], headerHozAlign:"center"},
                {title:"Gender", field:"gender", sorter:"string", hozAlign: "center", editor:"select", headerHozAlign:"center", editorParams:{
                    values:{
                        "M":"Male",
                        "F":"Female",
                    }
                    }},
                {title:"LDL Chol", field:"ldlc", editor:"input", sorter:"number", hozAlign:"center", validator:["min:0", "max:400", "numeric"], headerHozAlign:"center"},
                {title:"TOT Chol", field: "totc", editor:"input", sorter:"number", hozAlign:"center", validator:["min:0", "max:400", "numeric"], headerHozAlign:"center"},
                {title:"TX Status", field:"txstat", sorter:"string", hozAlign:"center", editor: "select", headerHozAlign:"center", editorParams:{
                    values:{
                        "Negative":"Known & Negative",
                        "Positive":"Known & Positive",
                        "Unknown":"Unknown Status",
                    }
                    }},
                {title:"CAD Status", field:"cadstat", sorter:"string", hozAlign:"center", editor: "select", headerHozAlign:"center", editorParams:{
                    values:{
                        "Negative":"Known & Negative",
                        "Positive":"Known & Positive",
                        "Unknown":"Unknown Status",
                    }
                    }},
                {title:"CAD Onset Age", field:"cadage", editor:"input", sorter:"number", hozAlign:"center", validator:["min:0", "max:115", "numeric"], headerHozAlign:"center"},
                {title:"DNA-DX Status", field:"dnadxstat", hozAlign:"center", editor:"select", headerHozAlign:"center", editorParams:{
                    values:{
                        "Negative":"Known & Negative",
                        "Positive":"Known & Positive",
                        "Unknown":"Unknown Status",
                    }
                    }},
            ],
        });

        // Handle Validation Failure
        table.on("validationFailed", function(cell, value, validators){
            // Cell - Cell Component for edited cell
            // Value - Value that failed Validation
            // Validators - Array of Validator Objects that Failed

            // Take Action on validation fail
        })
    </script>
</body>
</html>