/*
  ALL CSS PAGE COMPONENTS LINK TO THE HTML CODE COMPONENTS...
  EX: 'BODY' BELOW, MAPS TO THE CONTENTS TRANSPOSED TO WEBPAGE WITHIN THE 'BODY' TAG IN OUR 'LAYOUT.HTML' WEBPAGE FILE!
 */
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*color: #060;*/
}

/*
 * Formatting the header area
 */

header {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

header h1.logo {
    margin: 0;
    font-size: 1.7em;
    /*color: #fff;*/
    text-transform: uppercase;
    float: left;
}

header h1.logo:hover {
    /*color: #fff;*/
    text-decoration: none;
}

/*
 * Center the body content
 */

.container {
    width: 1200px;
    margin: 0 auto;
}

div.home {
    padding: 10px 0 30px 0;
    /*background-color: #E6E6FA;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.about {
    padding: 10px 0 30px 0;
    /*background-color: #E6E6FA;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

form {
    max-width: 900px;
    display: block;
    padding: 10px 0 30px 0;
    /*background-color: #E6E6FA;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.data {
    padding: 10px 0 30px 0;
    /*background-color: #E6E6FA;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

h2 {
    display: block;
    opacity: 0.75;
    margin-top: 40px;
    text-align: left;
    letter-spacing: -2px;
}

hgroup {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: left;
    letter-spacing: -2px;
    /*color: #999;*/
}

.menu {
    float: right;
    margin-top: 8px;
}

.menu li {
    display: inline;
}

.menu li + li {
    margin-left: 35px;
}

.menu li a {
    /*color: #555;*/
    text-decoration: black;
}

input:placeholder-shown {
    background-color: whitesmoke;
    border: 1px solid black;
    color: darkgray;
    font-style: italic;
}

input {
    background-color: whitesmoke;
    color: darkgrey;
    border: 1px solid black;
    padding: 3px;
}

.results_submission {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 1px #000000;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 1);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.results_submission:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

h2 span {
    opacity: 10;
    font-size: 20px;
    letter-spacing: -1px;
}