{%extends "layout.html"%}          <!-- Extends to the 'url_for' function in the layout.html file'-->
{%block content%}                  <!-- Refers to the Block content variable in the layout.html file'-->
<div class="about">
    <!-- How our other 'layout.html' file refers to this file. By referring to the 'class' about' -->
    <h1>Project About Page</h1>                                <!--Header tag! -->
    <p> Test Script for displaying about page contents.</p>  <!--Paragraph Tag! -->
</div>
{%endblock%}